<div class="wp-query-repeater">
	<label class="wp-query-repeater__label">{{ field.label }}</label>
	<div class="wp-query-repeater__list">
		<div class="wp-query-repeater__row" v-for="( row, index ) in value">
			<div class="wp-query-repeater__row-item" v-for="( childValue, key ) in row">
				<component
					v-bind:is="currentControl( field.children[ key ].type )"
					:field="field.children[ key ]"
					:value="childValue"
					@input="setValue( $event, index, key )"
				></component>
			</div>
			<button @click="removeItem( index )" class="wp-query-repeater__remove">&times;</button>
		</div>
	</div>
	<button @click="addItem">Add Item</button>
</div>